:root {
    --tuna-toast: #fff;
    --tuna-toast-success: #07bc0c;
    --tuna-toast-error: #e74c3c
}

#toast-container {
    position: fixed;
    color: #000;
    z-index: 99999;
    top: 8px;
    right: 8px;
}

.toast {
    position: relative;
    width: 200px;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: var(--tuna-toast);
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toast--success {
    background-color: var(--tuna-toast-success);
    color: #fff;
}

.toast--error {
    background-color: var(--tuna-toast-error);
    color: #fff;
}
