:root {
    --tuna-toast: #fff;
    --tuna-toast-success: #07bc0c;
    --tuna-toast-error: #e74c3c;
}

#toast-container {
    position: fixed;
    padding: 8px 16px;
    color: #ffffff;
    display: inline-block;
    z-index: 999;
    top: 0;
    right: 0;
}

.toast {
    width: 200px;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: var(--tuna-toast);
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(var(100px));
}

.toast--success {
    background-color: var(--tuna-toast-success);
}

.toast--error {
    background-color: var(--tuna-toast-error);
}